* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: 
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url(img/pexels-nikita-anders-11538211.jpg) no-repeat center center/cover fixed;
    font-family: 'Castoro Titling', serif;
    color: white;
}


a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}


.container {
    width: 90%;
    margin: auto;
    min-height: 500px;
    height: 100vh;
}

/* NAVIGATION */
.nav-main {
    margin: auto;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.400), rgba(0, 0, 0, 0.900));
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    transform: translateX(0px);
    transition: transform .5s ease-in-out;
     
}

.nav-main.show {
    transform: translateX(-1930px);
    transition: transform .5s ease-in-out;
}

/* NAV CENTER */

.nav-main ul.nav-menu {
    transform: translateX(0px);
    transition: transform .5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    /*
    border-radius: 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.200),rgba(0, 0, 0, 0.200));
    */  
       
}

.nav-main ul.nav-menu:hover {
}

.nav-main ul.nav-menu li {
    padding: 20px;
    margin: 20px 60px;

}




.nav-menu li a {
    display: block;
    font-size: 2rem;
    letter-spacing: 2px;
    
}




.nav-main ul.nav-menu.show {
    transform: translateX(-1930px);
    transition: transform .5s ease-in-out;
}

/* FOOTER */
.footer {
    position: absolute;
    bottom: 3%; 
    text-align: center;
    font-size: 15px;
    transform: translateX(0px);
    transition: transform .5s ease-in-out; 
}


.footer.show {
    transform: translateX(-1850px);
    transition: transform .5s ease-in-out;
}

/* SOCIAL */
.social {
    margin: auto;
    position: absolute;
    bottom: 8%;
    
    font-size: 1em;
    transform: translateX(0px);
    transition: transform .5s ease-in-out;
}

.social.show {
    transform: translateX(-1850px);
    transition: transform .5s ease-in-out;
}

.links-social a {
    margin: 20px;
}

/* NAV RIGHT */

.menu-btn {
    cursor: pointer;
    position: absolute;
    top: 7.5%;
    right: 3.7%;
    z-index: 2;
    color: white;
    transform:  translateX(-1900px);
    transition: transform .3s ease-in-out;
    
}


.menu-btn.show {
    transform: translateX(0px);
    transition: transform .3s ease-in-out;
}

.xmark {
    cursor: pointer;
    position: absolute;
    top: 7%;
    right: 3.55%;
    z-index: 2;
    color: white;
    padding: 5px;
    transform: translateX(0px);
    transition: transform .3s ease-in-out;
    
}

.xmark.show {
    transform:  translateX(-1900px);
    transition: transform .3s ease-in-out;   
}

/* SHOWCASE */
.showcase {
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 3.5rem;
    transform: translateX(-1850px);
    transition: transform .5s ease-in-out;
    
}

.showcase h2 {
    width: 30%;
    margin-bottom: 32%;
    margin-left: 5%;
    

}

.showcase p {
    width: 35%;
    text-align: center;
    margin-right: 5%;   
}

.showcase.show {
    transform: translateX(0px);
    transition: transform .5s ease-in-out;
}

footer,
.showcase h2,
.showcase p {
    margin: auto;
}

/* ABOUT*/
.about-me {
    position: absolute;
    z-index: 1;
    top: 8.5%;
    height: 90%;
    width: 90%;
    padding: 30px;
    font-size: 2rem;
    
    transform: translateX(0px);
    transition: transform .5s ease-in-out;
}



.ab-contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.ab-title h2 {
    
}

.about-me h2,
.about-me p {
    margin: 20px;
}

.about-me p {
    width: 40%;
    
}



.about-me.show {
    transform: translateX(-1850px);
    transition: transform .5s ease-in-out;
}

.back-ab {
    font-size: 30px;
    position: absolute;
    z-index: 2;
    top: 7%;
    right: 3.4%;
    color: white;
    padding: 5px;
    position: fixed;
    transform: translateX(0px);
    transition: transform .3s ease-in-out;
}

.back-ab.show {
    transform: translateX(-1950px);
    transition: transform .3s ease-in-out;
}

/* PROJECTS */
.pro-main {
    position: absolute;
    z-index: 1;
    top: 8.5%;
    height: 90%;
    width: 90%;
    padding: 30px;
    display: flex;
    
    text-align: center;
    font-size: 2rem;
    transform: translateX(0px);
    transition: transform .5s ease-in-out;
}

.pro-main.show {
    transform: translateX(-1850px);
    transition: transform .5s ease-in-out;
}

.pro-main h2 {


}
 
.pro-main h2,
.pro-main p {
    margin: 20px;
}



.pro-contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 30%;
    right: 30%;
}

.go {
    padding: 10px;
    text-align: center;
}

.go:hover {
    color: black;
    background: #b0d4cd;
    border-radius: 10px;
}

.div-pro {
    position: relative;
    display: flex;
    
    align-items: end;
    justify-content: center;
    top: 25%;
    
}

.pro-main img {
    width: 350px;
    margin: 20px;
    
}

.back-pro {
    font-size: 30px;
    position: absolute;
    z-index: 2;
    top: 7%;
    right: 3.4%;
    color: white;
    padding: 5px;
    transform: translateX(0px);
    transition: transform .3s ease-in-out;
}

.back-pro.show {
    transform: translateX(-1950px);
    transition: transform .3s ease-in-out;
}

/* CONTACT */
.email {
    position: absolute;
    z-index: 1;
    top: 8.5%;
    height: 90%;
    width: 90%;
    padding: 30px;
    font-size: 2rem;
    
    transform: translateX(0px);
    transition: transform .5s ease-in-out;
}

.email.show {
    transform: translateX(-1850px);
    transition: transform .5s ease-in-out;
}

/*
.social .links {
    position: relative;
    top: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social .links a {
    margin: 20px;   
}

.social .links a:hover {
    color: rgba(0, 0, 0, 0.5);
}
*/

.back-email {
    font-size: 30px;
    position: absolute;
    z-index: 2;
    top: 7%;
    right: 3.4%;
    color: white;
    padding: 5px;
    transform: translateX(0px);
    transition: transform .3s ease-in-out;
}

.back-email.show {
    transform: translateX(-1950px);
    transition: transform .3s ease-in-out;
}


@media(max-width:1230px) {
    /*
    .showcase {
        font-size: 3rem;
    }
    */

    .showcase h2 {
        width: 15%;
        margin-bottom: 50%;
        
    }
    
    .showcase p {
        width: 40%;
        margin-top: 60%; 
    }
}

@media(max-width:1050px) {
    

    .showcase h2 {
        margin-bottom: 60%;
        
    }
    
    .showcase p {
        width: 45%;
        margin-top: 70%; 
    }

}

@media(max-width:950px) {
    

    .showcase h2 {
        margin-bottom: 65%;
        
    }
    
    .showcase p {
        margin-top: 80%;
    }

}

@media(max-width:850px) {
    

    .showcase h2 {
        margin-bottom: 70%;
        
    }
    
    .showcase p {
        width: 50%;
        margin-top: 85%; 
    }

}

@media(max-width:765px) {

    .showcase {
        font-size: 3rem;
    }

    .showcase h2 {
        margin-bottom: 75%;
        
    }
    
    .showcase p {
        width: 55%;
        margin-top: 95%; 
    }

}

@media(max-width:695px) {
    
    .showcase {
        font-size: 2.5rem;
    }

    .showcase h2 {
        margin-bottom: 95%;
        
    }
    
    .showcase p {
        width: 60%;
        margin-top: 125%; 
    }

}

@media(max-width:637px) {

    .showcase h2 {
        margin-bottom: 100%;
        
    }
    
    .showcase p {
        width: 60%;
        margin-top: 135%; 
    }

}

@media(max-width:550px) {

    .showcase {
        font-size: 2rem;
    }

    .showcase h2 {
        margin-bottom: 110%;
        
    }
    
    .showcase p {
        width: 60%;
        margin-top: 145%; 
    }

}

@media(max-width:510px) {

    /*
    .showcase {
        font-size: 2rem;
    }
    */
    .showcase h2 {
        margin-bottom: 120%;
        
    }
    
    .showcase p {
        width: 60%;
        margin-top: 165%; 
    }

}


@media(max-width:470px) {

    /*
    .showcase {
        font-size: 2rem;
    }
    */
    .showcase h2 {
        margin-bottom: 130%;
        
    }
    
    .showcase p {
        width: 60%;
        margin-top: 175%; 
    }

}

@media(max-width:430px) {

    /*
    .showcase {
        font-size: 2rem;
    }
    */
    .showcase h2 {
        margin-bottom: 150%;
        
    }
    
    .showcase p {
        width: 60%;
        margin-top: 195%; 
    }

}

@media(max-width:364px) {

  
    .showcase {
        font-size: 1.5rem;
    }
   
    .showcase h2 {
        margin-bottom: 180%;
        
    }
    
    .showcase p {
        width: 60%;
        margin-top: 224%; 
    }

}

@media(max-width:273px) {

  
    .showcase {
        font-size: 1rem;
    }
   
    .showcase h2 {
        margin-bottom: 280%;
        
    }
    
    .showcase p {
        width: 60%;
        margin-top: 345%; 
    }

}

@media(max-width:183px) {

  
    .showcase {
        font-size: 1rem;
    }
   
    .showcase h2 {
        margin-bottom: 380%;
        
    }
    
    .showcase p {
        width: 65%;
        margin-top: 445%; 
    }

}


@media(max-width:168px) {

  
    .showcase {
        font-size: 0.8rem;
    }
   
    .showcase h2 {
        margin-bottom: 400%;
        
    }
    
    .showcase p {
        
        margin-top: 545%; 
    }

}
